html
  head
    title Who is my representative?
  body
    h1 Who is my representative?
    form(method='get' action='/')
      select(name='type')
        option(label='Zip' value='zip')
        option(label='State' value='state')
        option(label='Name' value='name')
      input(type='text' name='search')
      button Submit
    
    p= foo
    p foo is #{foo}
    if foo
      p Found foo!
    if arr && arr.length
      ul
        for i in arr
          li= i